@CHARSET "UTF-8";

* {
    @include box-sizing(border-box); 
}

#mainNav, footer {
    background-color: #222;
    border-color: #222;
}

footer {
	bottom: 0;
  min-height: 50px;
  width: 100%;
}

.footer-img {
  background-image: url("images/slide-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.center {
  margin: auto;
  width: 200px;
}

.profile-thumbnail {
  width: 140px;
  height: 140px;
  overflow: hidden;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
  border-collapse: separate; /* allow spacing between cell borders */
  border-spacing: 15px 30px; /* NOTE: syntax is <horizontal value> <vertical value> */
}

#search-btn {
  width: 200px;
  height: 100px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.cocktail-small{
  width: 140px;
  height: 140px;
}
.cocktail-small-div{
  width: 25%;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette {
  padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
  padding-left: 50px;
  padding-right: 50px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .cocktail-small{
    width: 140px;
    height: 140px;
  }
  .cocktail-small-div{
    width: 25%;
  }
  .support{
    margin: 2em 0em 0 0;
    padding: 2em 2em;
  }
  .support input[type="text"] {
    width: 79%;
    padding: 12px;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    border: 1px solid #fff;
    outline: none;
    margin: 0px 0px 0 0;
    webkit-appearance: none;
}
.support input[type="submit"]{
   background:#b23917;
  cursor: pointer;
   border: 0;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0.88em;
  text-align: center;
  webkit-appearance:none;
  outline:none;
  width: 20%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.cocktail-rectangle{
  width: 200px;
  height: 100px;
}
 
}

