<div class="bs-docs-header"  tabindex="-1" style="margin-top: 3%;">
	<div class="container" id="about-header">
		<div id="about-title" >
			<h2 style="color: white; padding-top: 23%;text-align: center;">
				You+ Cocktail = Yocktail
			</h2>
			<h4 style="text-align: center; color: rgba(54, 9, 21, 0.55);">We are here to offer you cocktails</h4>
		</div>
		
</div>
<div class="body">
    <div id="about-info">
		<p id ="about-info-content">
			Yocktail is great platform offered to cocktail lovers.</br>
			You can expolre in the ocean of cocktails,</br>
			search and collect your favorite cocktails,</br>
			and create your own cocktails and share with others.
		</p>
		<div class="about-info-pic">
			<img src="images/about-cocktails.png" class="img-responsive" alt="Responsive image">
		</div>
		<div class="row centered" id="about-team" style="text-align:center; margin: 80px;">
			<br><br>
			<h3 style="text-align:center"> team</h3>
			<div class="col-lg-3">
				<img class="img-circle" src="images/woman.jpg" width="110" height="110" alt="">
				<h4>Chengcheng Qu</h4>
				<p><a href="#">cqu@kth.se</a></p>
			</div>

			<div class="col-lg-3">
				<img class="img-circle" src="images/man.jpg" width="110" height="110" alt="">
				<h4>Sakshyam Panda</h4>
				<p><a href="#">***@kth.se</a></p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="images/woman.jpg" width="110" height="110" alt="">
				<h4>Viola Bazanye</h4>
				<p><a href="#">***@kth.se</a></p>
			</div><!-- col-lg-3 -->

			<div class="col-lg-3">
				<img class="img-circle" src="images/man.jpg" width="110" height="110" alt="">
				<h4>Zhihao Yang</h4>
				<p><a href="#">***@kth.se</a></p>
			</div><!-- col-lg-3 -->

		
		</div>

		<div class="about-info-pic" >
			<img style="height:200px" src="images/about-cocktails2.png" class="img-responsive" alt="Responsive image">
		</div>


		<div id="about-contactus" style="text-align:center; margin:80px; ">
			<h2>Contact us</h2>
			<div id="contactus-content" style="padding-left: 26%; padding-top: 5%"> 
				<div class="col-lg-4" style="margin-bottom: 30px" >
					<p>Email</br>h1@yocktail.com</p>
				</div>
				<div class="col-lg-4" >
					<p>Phone</br>+46 123471245</p>
				</div>	
			</div>
			<div class="col-lg-6"id="contactus-icons" style="margin-left: 34%">
					<a href="#"><img src="images/social-icon1.png" class="img-responsive icon-img" alt="Responsive image"></a>
					<img src="images/social-icon2.png" class="img-responsive icon-img" alt="Responsive image">
					<img src="images/social-icon3.png" class="img-responsive icon-img" alt="Responsive image">
					<img src="images/social-icon4.png" class="img-responsive icon-img" alt="Responsive image">
			</div>
			<div style="height:50px"></div>
		</div>
			

	</div>
</div>