<div class="row" style="padding-top:100px;">
	<div class="container">
		<div id="part1" class="col-md-12"> 	<!-- search button -->
			<div class="col-md-6 col-md-offset-3" style="margin-bottom: 1em;">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="part2" class="container">
		<div class="col-md-12" style="padding-top: 30px">
			<div class="col-md-7">
				<h3>{{cocktail.name}}</h3>
			</div>
			<div class="col-md-5 text-center" style="background-color: slateblue">
				<div class="col-md-12">
					<h3>Image</h3>
				</div>
				<div class="col-md-12">
					<h3>stars</h3>
					<h3>add to favourites</h3>
				</div>
			</div>
		</div>
		<div class="col-md-12 text-center" style="background-color: gray">
			<h3>Link to video goes here</h3>
		</div>
	</div>

	<div id="part3" class="container-fluid">
		<div class="col-md-12">
			<h4 class="text-center">You might also be intrested in</h4>
			<div class="col-md-12" style="background-color: orange; height: 200px">
				<div class="col-md-12" style="background-color: #bbb; height: 200px" id="suggestions">
					<span class="btn-lg pgl" aria-hidden="true" style="left:25px;"></span>
					<span class="text-right btn-lg pgr" aria-hidden="true" style="right:25px"></span>
					
					<h4>suggestions goes in here from the controller page</h4>
				</div>
			</div>
		</div>
	</div>
</div>
