<br/><br/><br/>

<a href="#/profile">Return to my profile</a>

<h3>Update Basic Information</h3>
<form class="" name="updateBasicInfoForm">
    <div class="form-group " ng-class="{ 'has-error' : updateBasicInfoForm.username.$invalid }">
        <label>Name</label>
        <input type="text" name="username" placeholder="Name" class="form-control" id="form-username" ng-model="editUser.name">
    </div>
    <div class="form-group " ng-class="{ 'has-error' : updateBasicInfoForm.username.$invalid }">
        <label>Bio</label>
        <input type="text" name="username" placeholder="Bio" class="form-control" id="form-username" ng-model="editUser.bio">
    </div>
    <div class="form-group" ng-class="{ 'has-error' : updateBasicInfoForm.birthday.$invalid }">
        <label>Birthday(YYYYYMMDD) (The data of birth could not be changed.)</label>
        <input type="text" name="birthday" placeholder="Birthday(YYYYYMMDD)" class="form-control" id="form-username" ng-model="editUser.birthday" ng-disabled=true>
    </div>
    <p style="color:green;" ng-show="!updateBasicInfoFormError">{{updateBasicInfoFormSuccessMessage}}</p>
    <p style="color:red;" ng-show="updateBasicInfoFormError">{{updateBasicInfoFormErrorMessage}}</p>
    <button type="button" ng-click="UpdatBasicInfo();" ng-disabled="!editUser.name || ! editUser.birthday" class="btn btn-lg btn-primary btn-block">Update basic information</button>
</form>

<h3>Change Email(credential)</h3>
<form class="" name="changeEmailForm">
   <div class="form-group">
        <label>Current Email</label>
        <input type="email" name="email" placeholder="Email" class="form-control" id="form-email" ng-model="user.email" ng-disabled=true>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : changeEmailForm.email.$invalid }">
        <label>New Email</label>
        <input type="email" name="email" placeholder="Email" class="form-control" id="form-email" ng-model="editUser.email">
        <p class="help-block" ng-show="changeEmailForm.email.$invalid">Enter a valid email.</p>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" class="form-control" id="form-password" ng-model="editUser.password" ng-minlength="8">
    </div>
    <p style="color:green;" ng-show="!changeEmailFormError">{{changeEmailFormSuccessMessage}}</p>
    <p style="color:red;" ng-show="changeEmailFormError">{{changeEmailFormErrorMessage}}</p>
    <button type="button" ng-click="ChangeEmail();" ng-disabled="!editUser.email || !editUser.password" class="btn btn-lg btn-primary btn-block">Change Email</button>
</form>

<h3>Change Password(credential)</h3>
<form class="" name="changePasswordForm">
	<div class="form-group">
        <label>Current Password</label>
        <input type="password" name="currentPassword" placeholder="Current Password" class="form-control" id="form-password" ng-model="editUser.currentPassword" ng-minlength="8">
    </div>
    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid }">
        <label>New Password</label>
        <input type="password" name="newPassword" placeholder="New Password" class="form-control" id="form-password" ng-model="editUser.newPassword" ng-minlength="8">
        <p class="help-block" ng-show="changePasswordForm.newPassword.$error.minlength">Min password length is 8 characters.</p>
    </div>
     <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.confirmedNewPassword.$invalid }">
        <label>Confirm your new password</label>
        <input type="password" name="confirmedNewPassword" placeholder="Confirm your new password" class="form-control" id="form-password" ng-model="editUser.confirmedNewPassword" ng-minlength="8">
        <p class="help-block" ng-show="changePasswordForm.confirmedNewPassword.$error.minlength">Min password length is 8 characters.</p>
    </div>
    <p style="color:green;" ng-show="!changePasswordFormError">{{changePasswordFormSuccessMessage}}</p>
    <p style="color:red;" ng-show="changePasswordFormError">{{changePasswordFormErrorMessage}}</p>
    <button type="button" ng-click="ChangePassword();" ng-disabled=" !editUser.currentPassword || !editUser.newPassword || !editUser.confirmedNewPassword" class="btn btn-lg btn-primary btn-block">Change Password</button>
</form>

