<div class="container-fluid">
    <a href="#/profile" class="btn btn-default" style="margin-top: 1%; margin-bottom:2%; color:#333;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Return to my profile</a>
    <div class="row">
        <div class="span3 col-md-3 " >
            <div class="account-edit-panel" style="margin-top:0px">
              <h3 class="profile-panel-heading">Profile image</h3>
        <!--     <img class="img-circle cocktail-small" src="images/profile_mockup.png" /> -->
              <div style="padding:12%">
                <img ng-show="!imageString" ng-src="images/profile_mockup.png"  style="width:80%"/>
                <img ng-show="imageString" ng-src="{{imageString}}" style="width:80%"/>
                </br></br>
                <input type='file' ng-model-instant onchange="angular.element(this).scope().imageSelect(event)" style="font-size: 80%"/>
                <br/><br/>
                <p style="color:green;" ng-show="!uploadImageError">{{uploadImageSuccessMessage}}</p>
                <p style="color:red;" ng-show="uploadImageError">{{uploadImageErrorMessage}}</p>
                <button type="button" ng-click="UpdateProfileImage();" ng-disabled="!hasLoadedImage" class="btn btn-warning">Update Profile Image</button>
                <button type="button " ng-click="DeleteProfileImage();" ng-show="hasProfileImage" class="btn  btn-default" style="margin-top:10px">Delete Profile Image </button>
              </div>
            </div>
        </div>

        <div class="span9 col-md-9" >
            <div class="account-edit-panel" style="margin-top:0px">
              <h3 class="profile-panel-heading">Update Basic Information</h3>
              <div class="profile-form">
                <form  name="updateBasicInfoForm">
                    <div class="form-group " ng-class="{ 'has-error' : updateBasicInfoForm.username.$invalid }">
                        <label>Name</label>
                        <input type="text" name="username" placeholder="Name" class="form-control" id="form-username" ng-model="editUser.name">
                    </div>
                    <div class="form-group " ng-class="{ 'has-error' : updateBasicInfoForm.username.$invalid }">
                        <label>Bio</label>
                        <input type="text" name="username" placeholder="Bio" class="form-control" id="form-username" ng-model="editUser.bio">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : updateBasicInfoForm.birthday.$invalid }">
                        <label>Birthday(YYYYYMMDD) (The data of birth could not be changed.)</label>
                        <input type="text" name="birthday" placeholder="Birthday(YYYYYMMDD)" class="form-control" id="form-username" ng-model="editUser.birthday" ng-disabled=true>
                    </div>
                    <p style="color:green;" ng-show="!updateBasicInfoFormError">{{updateBasicInfoFormSuccessMessage}}</p>
                    <p style="color:red;" ng-show="updateBasicInfoFormError">{{updateBasicInfoFormErrorMessage}}</p>
                    <button style="margin-top: 15px" type="button" ng-click="UpdatBasicInfo();" ng-disabled="!editUser.name" class="btn btn-warning">Update Basic Information</button>
                </form>
              </div>
            </div>

            <div class="account-edit-panel"> 
                <h3 class="profile-panel-heading">Change Email(credential)</h3>
                <div class="profile-form">
                <form class="" name="changeEmailForm">
                   <div class="form-group">
                    <label>Current Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" id="form-email" ng-model="user.email" ng-disabled=true>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : changeEmailForm.email.$invalid }">
                    <label>New Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" id="form-email" ng-model="editUser.email">
                    <p class="help-block" ng-show="changeEmailForm.email.$invalid">Enter a valid email.</p>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" id="form-password" ng-model="editUser.password" ng-minlength="8">
                </div>
                
                <p style="color:green;" ng-show="!changeEmailFormError">{{changeEmailFormSuccessMessage}}</p>
                <p style="color:red;" ng-show="changeEmailFormError">{{changeEmailFormErrorMessage}}</p>
                <button style="margin-top: 15px" type="button" ng-click="ChangeEmail();" ng-disabled="!editUser.email || !editUser.password" class="btn btn-warning">Change Email</button>
                </form></div>
            </div>

            <div class="account-edit-panel" style="margin-bottom:20px">
                <h3 class="profile-panel-heading">Change Password(credential)</h3>
                <div class="profile-form">
                <form class="" name="changePasswordForm">
                     <div class="form-group">
                        <label>Current Password</label>
                        <input type="password" name="currentPassword" placeholder="Current Password" class="form-control" id="form-password" ng-model="editUser.currentPassword" ng-minlength="8">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.newPassword.$invalid }">
                        <label>New Password</label>
                        <input type="password" name="newPassword" placeholder="New Password" class="form-control" id="form-password" ng-model="editUser.newPassword" ng-minlength="8">
                        <p class="help-block" ng-show="changePasswordForm.newPassword.$error.minlength">Min password length is 8 characters.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : changePasswordForm.confirmedNewPassword.$invalid }">
                        <label>Confirm your new password</br></label>
                        <input type="password" name="confirmedNewPassword" placeholder="Confirm your new password" class="form-control" id="form-password" ng-model="editUser.confirmedNewPassword" ng-minlength="8">
                        <p class="help-block" ng-show="changePasswordForm.confirmedNewPassword.$error.minlength">Min password length is 8 characters.</p>
                    </div>
                    <p style="color:green;" ng-show="!changePasswordFormError">{{changePasswordFormSuccessMessage}}</p>
                    <p style="color:red;" ng-show="changePasswordFormError">{{changePasswordFormErrorMessage}}</p>
                    <button style="margin-top: 15px" type="button" ng-click="ChangePassword();" ng-disabled=" !editUser.currentPassword || !editUser.newPassword || !editUser.confirmedNewPassword" class="btn btn-warning">Change Password</button>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div ng-show="loading" id="loading-icon-div" class="col-md-12" style="position: absolute; top:0; left:0; width:100%; height:100%; z-index:1000; background-color:grey; opacity: 0.8;">
        <img src="../images/loading-img.gif" class="ajax-loader" style="position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; display: block;"/>
    </div>
</div>
