<!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide">
  

  <div class="carousel-inner">
    <div class="item active">
      <img src="images/slide-1.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption" style="padding-bottom: 10%">
          <h1>start exploring the world of cocktails</h1>
          <div class="row">
            <div class="col-lg-6 col-md-offset-3">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="query" placeholder="search for ingredients like grape, lemon, bourbon...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="search(query)"><span class="glyphicon glyphicon-search" aria-hidden="true"></button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row --> 
        </div>
      </div>
    </div>

</div>
<!-- /.carousel -->


  <div class="carousel-inner">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <br>
      <h2 style="margin:auto;width:250px;">Popular Cocktails</h2>
      {{status}}
      <br>
      <br>
   
    <div class="DocumentList">
      <ul class="list-inline">
        <li class="DocumentItem text-center" ng-repeat="cocktail in cocktails">
          <img class="img-circle cocktail-small" ng-src="https://assets.absolutdrinks.com/drinks/{{cocktail.id}}.png" ><br>
          <a ng-href="#/cocktail/{{cocktail.id}}"><strong>{{cocktail.name}}</strong></a><br>
          <p ng-repeat="taste in cocktail.tastes" style="display:inline;">{{taste.text}}. </p>
        </li>
      </ul>
    </div>

  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" style="padding-bottom: 0px; margin-bottom: 0px">

  <div class="featurette" style="background-color:grey;width:100%;">
    <h2 style="margin:auto;width:350px;color:#fff">Newly created cocktails</h2>
    <br>
    <br>
    <div class="row" style="padding-bottom: 80px;">
      <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
        <img class="img-circle cocktail-small wine-creater" src="images/woman.jpg" >
        <img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
        <h3>Negorine</h3>
        <p>Gin, Campari, Vermouth Sweet, Orange</p>

      </div>
      <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
        <img class="img-circle cocktail-small wine-creater" src="images/man.jpg" >
        <img class="img-circle cocktail-small" src="images/Cocktail-2.jpg">
        <h3>Negorine</h3>
        <p>Gin, Campari, Vermouth Sweet, Orange</p>

      </div>
      <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
        <img class="img-circle cocktail-small wine-creater" src="images/Robert.jpg" >
        <img class="img-circle cocktail-small" src="images/Cocktail-3.jpg">
        <h3>Negorine</h3>
        <p>Gin, Campari, Vermouth Sweet, Orange</p>

      </div>

      <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
        <img class="img-circle cocktail-small wine-creater" src="images/profile_mockup.png" >
        <img class="img-circle cocktail-small" src="images/Cocktail-4.jpg">
        <h3>Negorine</h3>
        <p>Gin, Campari, Vermouth Sweet, Orange</p>

      </div>
    </div>
  </div>

  <div ng-show="!isSignedIn">
    <div class="footer-img" style="padding-top:0px;">
      <div style="padding-top:100px;">
        <h2 style="margin:auto;width:950px;color:#fff;">sign up to create your own cocktails and share with your community</h2>
        <br>
        <button class="btn btn-default btn-lg btn-block" type="button" style="margin:auto;width:400px;border-radius:0px;border:5px solid;border-color:#fff;opacity:0.8;"><a href="#signin">sign in/ sign up</a></button>
      </div>
    </div>
  </div>

