<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <div class="carousel-inner">
    <div class="item active">
      <img src="images/slide-1.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption" style="padding-bottom: 10%">
          <h1>start exploring the world of cocktails</h1>
          <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search cocktails..." style="width:400px;">
            </div>
            <img src="images/search.png" style="width:40px">
          </form> 
        </div>
      </div>
    </div>

    <!-- <div class="item">
      <img src="images/slide-2.png" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption" >
          <h1>Changes to the Grid</h1>
          <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
          <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="images/slide-3.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Percentage-based sizing</h1>
          <p>With "mobile-first" there is now only one percentage-based grid.</p>
          <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  --> 
</div>
<!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="carousel-inner">
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <br>
    <h2 style="margin:auto;width:250px;">Popular Cocktails</h2>

    <br>
    <br>
    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-2.jpg">
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-3.jpg">
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>

    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-4.jpg">
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>


  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" style="padding-bottom: 0px; margin-bottom: 0px">

<div class="featurette" style="background-color:grey;width:100%;">
    <h2 style="margin:auto;width:350px;color:#fff">Newly created cocktails</h2>
    <br>
    <br>
  <div class="row" style="padding-bottom: 80px;">
    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
     
    </div>
    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-2.jpg">
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      
    </div>
    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-3.jpg">
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      
    </div>

    <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
      <img class="img-circle cocktail-small" src="images/Cocktail-4.jpg">
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
      
    </div>
  </div>
</div>


<div class="footer-img" style="padding-top:0px;">
  <div style="padding-top:100px;">
    <h2 style="margin:auto;width:950px;color:#fff;">sign up to create your own cocktails and share with your community</h2>
    <br>
    <button class="btn btn-default btn-lg btn-block" type="button" style="margin:auto;width:400px;border-radius:0px;border:5px solid;border-color:#fff;opacity:0.8;">sign up/sign in</button>
  </div>
</div>

