<div style="margin-top:100px"></div>
<div class="row" style="margin:auto;width:600px;">
  <div class="col-md-6 col-md-offset-3">    
    <div class="row">
      <div class="col-md-6"><img src="images/profile_mockup.png" alt="..." class="img-circle profile-thumbnail"></div>
      <div class="col-md-6" style="margin-top:40px">
        <p class="lead">{{user.name}}</p>
        <p style="color:#ccc;">Cocktail master</p>
      </div>
      <div class="col-xs-9" style="margin-top:10px"><p style="color:#ccc;">Love Life. Love Cocktails</p></div>
    </div>
  </div>
  
</div>

<div class="row" style="margin:auto;width:600px;">
    <hr>
    <div class="row">
        <div class="col-xs-6 col-sm-4" style="text-align:center;">My Cocktails</div>
        <div class="col-xs-6 col-sm-4" style="text-align:center;">Favorites</div>
        <div class="col-xs-6 col-sm-4" style="text-align:center;">Ratings</div>
    </div>
    <hr>
  </div>

<div class="row" style="margin-top:50px">
  <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
    <img class="img-circle cocktail-small" src="images/cocktail_mockup.png" >
      <h3>Create new cocktail</h3>
      <button type="button" class="btn btn-default">Create</button>
  </div>
  <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
    <img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
  </div>


  <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
    <img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
  </div>
  <div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
    <img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
      <h3>Negorine</h3>
      <p>Gin, Campari, Vermouth Sweet, Orange</p>
  </div>
</div>
<br>