<div class="container">
	<div class="row">
		<div class="col-md-12"> 
			<div class="col-md-3 text-center" style="float: none; margin: 0 auto">
				<div class="col-md-12">
					<img ng-show="user.profile_image" ng-src="{{user.profile_image}}" alt="..." class="img-circle profile-thumbnail">
					<img ng-show="!user.profile_image" ng-src="images/profile_mockup.png" alt="..." class="img-circle profile-thumbnail">
				</div>
				<div class="col-md-12">
					<p class="lead" style="margin-bottom:0px">{{user.name}}</p>
					<span ng-show="isSignedInUser"><a href="#/editProfile" style="color:#ddd;">Edit Profile</a></span>
				</div>
				<div class="col-md-12" style="margin-top:10px;"><p class="lead" style="color:#aaa; font-size: 15px;">{{user.bio}}</p></div>
			</div>	
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-5 text-right">
			<span ng-show="cocktails" ng-click="cocktails=true; favourites=falsel;" class="profile-option" style="font-weight: bold;">Self-made Cocktails</span>
			<span ng-show="!cocktails" ng-click="cocktails=true; favourites=falsel;" class="profile-option" style="font-weight: normal;">Self-made Cocktails</span>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-5 col-md-offset-2">
			<span ng-show="favourites" class="profile-option" ng-click="cocktails=false; favourites=true" style="font-weight: bold;">Favorites</span>
			<span ng-show="!favourites" class="profile-option" ng-click="cocktails=false; favourites=true" style="font-weight: normal;">Favorites</span>
		</div>
	</div>
	<hr>

	<div ng-show="cocktails" ng-cloak ng-init="cocktails=true">
		<h4 class="text-center" style="color:#333" ng-show="isSignedInUser">Here are cocktails you made</h4>
		<h4 class="text-center" style="color:#333" ng-show="!isSignedInUser">Here are cocktails he/she made</h4>
		<div class="row" style="margin-top:50px">
			<div class="col-xs-6 col-sm-3 text-center cocktail-small-div" ng-show="isSignedInUser">
				<img class="img-circle cocktail-small" src="images/cocktail_mockup.png" >
				<button style="margin-top: 20px;" type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Create new cocktail</button>
			</div>
			
			<!-- modal starts here -->
			
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-show="isSignedInUser">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CancelCreateNewCocktail();"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title text-center" id="myModalLabel">Create a new cocktail</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-5" style="margin-bottom: 12px">
										<div class="text-center">
											<img ng-show="!newCocktailImage" ng-src="images/cocktail_mockup.png" class="img-circle cocktail-small"/>
											<img ng-show="newCocktailImage" ng-src="{{newCocktailImage}}" class="img-circle cocktail-small" />
										</div>
									    </br></br>
									    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageSelect(event)" style="width: 100%;" />
									    <p style="color:red;" ng-show="selectImageError">{{selectImageErrorMessage}}</p>
									</div>
									<div class="col-md-7" style="border-left: 1px solid #ccc">
										<input type="text" class="form-control" id="newCocktailName" placeholder="Name of the cocktail" ng-model="newCocktail.name"> 
										</br>
										<input type="text" class="form-control" id="newCocktailGlasstype" placeholder="Type of glass" ng-model="newCocktail.type"> 
										</br>
										<input type="text" class="form-control" id="newCocktailTaste" placeholder="Taste of the cocktail" ng-model="newCocktail.taste"> 
										</br>
										<select class="form-control" id="newCocktailSkills" ng-model="newCocktail.skill">
											<option value="" selected="selected">Skills required</option>
											<option value="Easy">Easy</option>
											<option value="Average">Average</option>
											<option value="High">High</option>
										</select>
										</br>
										<div class="input-group">
											<input type="text" class="form-control" id="newCocktailIngredient" placeholder="Ingredients with quantity required" ng-model="newIngredient">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button" ng-click="addIngredient(newIngredient);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
											</span>
										</div>
										<p id="displayIngredient" class="text-primary">{{newIngredientsString}}</p>
										</br>
										<select class="form-control" id="newCocktailCategory" ng-model="newCocktail.category">
											<option value="" selected="selected">Select Category</option>
											<option value="Afternoon Drink">Afternoon Drink</option>
											<option value="Pre-dinner Drink">Pre-dinner Drink</option>
											<option value="Pre-dinner Drink">After-dinner Drink</option>
											<option value="Evening Drink">Evening Drink</option>
										</select>
										</br>
										<textarea class="form-control" id="newCocktailDescription" placeholder="Description" rows="5" ng-model="newCocktail.description"></textarea>
										</br>
										<textarea class="form-control" id="newCocktailHowtomix" placeholder="How to mix" rows="5" ng-model="newCocktail.how_to_mix"></textarea>
										</br>
										</br>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<p style="color:green;" ng-show="!createNewCocktailError">{{createNewCocktailSuccessMessage}}</p>
    						<p style="color:red;" ng-show="createNewCocktailError">{{createNewCocktailErrorMessage}}</p>
							<button type="button" class="btn btn-default" ng-click="CancelCreateNewCocktail();" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-warning" ng-click="CreateNewCocktail();" ng-disabled="!newCocktail.name || !newCocktail.type || !newCocktail.taste || !newCocktail.skill || !newIngredientsString || !newCocktail.category || !newCocktail.description || !newCocktail.how_to_mix">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal ends here -->
	  
			<div ng-repeat="cocktail in userMadeCocktails track by $index">
				<div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
					<img class="img-circle cocktail-small" ng-src="{{cocktail.image}}" >
					<h5><a ng-href="#/user_cocktail/{{cocktail.key}}" style="color:#333;">{{cocktail.name}}</a></h5>
					<p>{{cocktail.description}}</p>
					<button type="button" class="btn btn-default" ng-show="isSignedInUser" ng-click="DeleteCocktail(cocktail);">Delete</button>

				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="favourites" ng-cloak>
		<h4 class="text-center" style="color:#333;" ng-show="isSignedInUser">Here are your favourite cocktails</h4>
		<h4 class="text-center" style="color:#333;" ng-show="!isSignedInUser">Here are his/her favourite cocktails</h4>
		<div class="row" style="margin-top:50px">
			<div class="col-md-12" style="min-height: 200px">
				<div ng-repeat="cocktail in favoriteCocktails track by $index">
				<div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
					<img class="img-circle cocktail-small" ng-src="{{cocktail.image}}" >
					<h5><a ng-show="cocktail.isAbsolutDrink" ng-href="#/cocktail/{{cocktail.key}}" style="color:#333;">{{cocktail.name}}</a></h5>
					<h5><a ng-show="!cocktail.isAbsolutDrink" ng-href="#/user_cocktail/{{cocktail.key}}" style="color:#333;">{{cocktail.name}}</a></h5>
					<p>{{cocktail.taste}}</p>
					<button type="button" class="btn btn-default" ng-show="isSignedInUser" ng-click="DeleteFavorite(cocktail);">Delete</button>
				</div>
			</div>
			</div>
		</div>
	</div>
	
	<div ng-show="loadingPage" id="loading-icon-div" class="col-md-12" style="position: absolute; top:0; left:0; width:100%; height:100%; z-index:1000; background-color:grey; opacity: 0.8;">
		<img src="../images/loading-img.gif" class="ajax-loader" style="position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; display: block;"/>
	</div>
</div>

<br>
