<div style="margin-top:100px"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12"> 
			<div class="col-md-3 text-center" style="float: none; margin: 0 auto">
				<div class="col-md-12">
					<img ng-show="user.profile_image" ng-src="{{user.profile_image}}" alt="..." class="img-circle profile-thumbnail">
					<img ng-show="!user.profile_image" ng-src="images/profile_mockup.png" alt="..." class="img-circle profile-thumbnail">
				</div>
				<div class="col-md-12">
					<p class="lead" style="margin-bottom:0px">{{user.name}}</p>
					<span style="color:#ccc;">Cocktail master</span>
				</div>
				<div class="col-md-12" style="margin-top:10px;"><p style="color:#ccc;">{{user.bio}}</p></div>
			</div>	
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-5 text-right">
			<span ng-click="cocktails=true; favourites=false" class="profile-option">{{user.name}}'s Cocktails</span>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-5 col-md-offset-2">
			<span class="profile-option" ng-click="cocktails=false; favourites=true">Favorites</span>
		</div>
	</div>
	<hr>

	<div ng-show="cocktails" ng-cloak ng-init="cocktails=true">
		<h4 class="text-center" style="color:#333"> Here are the self-made cocktails </h4>
		<div class="row" style="margin-top:50px" ng-show="isSignedInUser">
			<div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
				<img class="img-circle cocktail-small" src="images/cocktail_mockup.png" >
				<h3>Create new cocktail</h3>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Create</button>
			</div>
			
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CancelCreateNewCocktail();"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title text-center" id="myModalLabel">Create a new cocktail</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-5">
									    <img ng-show="!newCocktail.image" ng-src="images/cocktail_mockup.png" />
									    <img ng-show="newCocktail.image" ng-src="{{newCocktail.image}}" />
									    </br></br>
									    <input type='file' ng-model-instant onchange="angular.element(this).scope().imageSelect(event)" />
									    <p style="color:red;" ng-show="selectImageError">{{selectImageErrorMessage}}</p>
									</div>
									<div class="col-md-7" style="border-left: 2px solid #ccc">
										<input type="text" class="form-control" id="newCocktailName" placeholder="Name of the cocktail" ng-model="newCocktail.name"> 
										</br>
										<input type="text" class="form-control" id="newCocktailGlasstype" placeholder="Type of glass" ng-model="newCocktail.type"> 
										</br>
										<input type="text" class="form-control" id="newCocktailTaste" placeholder="Taste of the cocktail" ng-model="newCocktail.taste"> 
										</br>
										<select class="form-control" id="newCocktailSkills" ng-model="newCocktail.skill">
											<option value="" selected="selected">Skills required</option>
											<option value="Easy">Easy</option>
											<option value="Average">Average</option>
											<option value="High">High</option>
										</select>
										</br>
										<div class="input-group">
											<input type="text" class="form-control" id="newCocktailIngredient" placeholder="Ingredients with quantity required" ng-model="newIngredient">
											<span class="input-group-btn">
												<button class="btn btn-default" type="button" ng-click="addIngredient(newIngredient);"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
											</span>
										</div>
										<p id="displayIngredient" class="text-primary">{{newIngredientsString}}</p>
										</br>
										<select class="form-control" id="newCocktailCategory" ng-model="newCocktail.category">
											<option value="" selected="selected">Select Category</option>
											<option value="Afternoon Drink">Afternoon Drink</option>
											<option value="Pre-dinner Drink">Pre-dinner Drink</option>
											<option value="Pre-dinner Drink">Pre-dinner Drink</option>
											<option value="Evening Drink">Evening Drink</option>
										</select>
										</br>
										<textarea class="form-control" id="newCocktailDescription" placeholder="Description" rows="5" ng-model="newCocktail.description"></textarea>
										</br>
										<textarea class="form-control" id="newCocktailHowtomix" placeholder="How to mix" rows="5" ng-model="newCocktail.how_to_mix"></textarea>
										</br>
										</br>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<p style="color:green;" ng-show="!createNewCocktailError">{{createNewCocktailSuccessMessage}}</p>
    						<p style="color:red;" ng-show="createNewCocktailError">{{createNewCocktailErrorMessage}}</p>
							<button type="button" class="btn btn-default" ng-click="CancelCreateNewCocktail();" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" ng-click="CreateNewCocktail();">Save changes</button>
						</div>
					</div>
				</div>
			</div>
	  
			<div ng-repeat="cocktail in userMadeCocktails track by $index">
				<div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
					<img class="img-circle cocktail-small" ng-src="{{cocktail.image}}" >
					<h3>{{cocktail.name}}</h3>
					<p>{{cocktail.description}}</p>
				</div>
			</div>
		</div>
	</div>
	
	<div ng-show="favourites" ng-cloak>
		<h4 class="text-center" style="color:#333;"> Here are {{user.name}}'s favourite cocktails</h4>
		<div class="row" style="margin-top:50px" ng-show="isSignedIn">
			<div class="col-md-12">
				<div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
					<img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
					<h3>Negorine</h3>
					<p>Gin, Campari, Vermouth Sweet, Orange</p>
				</div>
				<div class="col-xs-6 col-sm-3 text-center cocktail-small-div">
					<img class="img-circle cocktail-small" src="images/Cocktail-1.jpg" >
					<h3>Negorine</h3>
					<p>Gin, Campari, Vermouth Sweet, Orange</p>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

	<script>
		var ingredientList = [];
		function addData(){
			var ingredient = document.getElementById('newCocktailIngredient');
			var display = document.getElementById('displayIngredient');
			ingredientList.push(ingredient.value);
			display.innerHTML= "";
			display.innerHTML += ingredientList.join(",");
			ingredient.value="";
		}
		
		
	</script>