<div class="container-fluid">
<div class="row">
	<div class="container">
		<div id="part1" class="col-md-12"> 	<!-- search button -->
			<div class="col-md-6 col-md-offset-3" style="margin-bottom: 1em;">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="query" placeholder="search for ingredients like grape, lemon, bourbon...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="search(query)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div id="part2" class="container border">
		<div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 30px;">
			<div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12" >
				<h2><strong>{{userCocktail.name}}</strong></h2>
				
				<div style="margin-top:3vh; margin-bottom:3vh">
					<span class="col-md-12 col-sm-12 col-xs-12">Description: {{userCocktail.description}}</span>
					<span class="col-md-12 col-sm-12 col-xs-12">Glass Type: {{userCocktail.type}}</span>
					<span class="col-md-12 col-sm-12 col-xs-12">Taste: {{userCocktail.taste}}</span>
					<span class="col-md-12 col-sm-12 col-xs-12">Skill Level: {{userCocktail.skill}} </span>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 5vh; margin-bottom:3vh">
					<h4><b>Ingredients</b></h4>
					<div class="table-responsive">
						<table class="">
								<tr ng-repeat="ingredient in userCocktail.ingredients">
									<td>{{ingredient}}</td>
								</tr> 
						</table>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12" style="margin-top: 5vh; margin-bottom:3vh">
					<h4><b>How to Mix</b></h4>
					<p>{{userCocktail.how_to_mix}}</p>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12 text-center">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<img class="img-thumbnail" ng-src="{{userCocktail.image}}" style="margin-bottom:20px; height: 60vh; width: 40vh"><br>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button type="button" class="btn btn-warning" ng-click="addFavorite(userCocktail.id)" ng-show="!clicked" ng-disabled="!isSignedIn"><span class="glyphicon glyphicon-heart-empty"></span>  Add to favorites</button>
					<button type="button" class="btn btn-default" ng-click="removeFavorite(userCocktail.id)" ng-show="clicked" ng-disabled="!isSignedIn"><span class="glyphicon glyphicon-heart"></span>  Remove from favorites</button>
					<br/>
					<p style="color:grey;" ng-show="!isSignedIn"><a href="#/signin" style="color:#666;">Sign in to add this cocktail to your favorites</a></p>
				</div>
			</div>
		</div>
		<!-- There is no video to show for user made cocktails currently-->
		<!-- <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top:40px">
			<div class="embed-responsive embed-responsive-16by9">
			  <video style="height:30vw" class="embed-responsive-item" ng-src="{{url}}" allowfullscreen alt="no video" controls></video>
			</div>
		</div> -->
	</div>
</div>
<hr class="container">
<div class="container-fluid">
<!-- Three columns of text below the carousel -->
	<div class="row" style="padding: 3%;">
		<div class="col-md-12 text-center">
			<span class="section-font">Popular Cocktails</span>
		</div>
		{{status}}
		<br>
		<div class="DocumentList">
			<ul class="list-inline">
				<li class="DocumentItem text-center" ng-repeat="cocktail in cocktails">
					<img class="img-circle cocktail-small" ng-src="https://assets.absolutdrinks.com/drinks/{{cocktail.id}}.png" ><br>
					<a ng-href="#/cocktail/{{cocktail.id}}"><strong>{{cocktail.name}}</strong></a><br>
					<p ng-repeat="taste in cocktail.tastes" style="display:inline;">{{taste.text}}. </p>
				</li>
			</ul>
		</div>
	</div><!-- /.row -->
</div>
<div ng-show="loadingIcon" id="loading-icon-div" class="col-md-12" style="position: absolute; top:0; left:0; width:100%; height:100%; z-index:1000; background-color:grey; opacity: 0.8;">
	<img src="../images/loading-img.gif" class="ajax-loader" style="position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; display: block;"/>
</div>
</div>